body:has(.use-case-modal.open) {
    overflow: hidden;
}

.use-case-modal.open {
    display: block;
    position: fixed;
    z-index: 99;
    overflow-y: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--background);
    padding: 0 15px;
    max-width: 100%;
}

.use-case-modal {
    display: none;
}

.use-case-modal .modal-close-btn {
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: var(--text-primary);
    background-color: transparent;
    border: none;
    font-size: 50px;
    cursor: pointer;
    position: fixed;
    z-index: 100;
    top: 30px;
    right: 30px;
}

@media screen and (max-width: 600px) {
    .use-case-modal .modal-close-btn {
        right: 5px;
    }
}

.use-case-modal .modal-close-btn:hover path {
    fill: var(--red);
}



.use-case-modal .container {
    padding-top: 80px;
    flex-direction: column;
    text-align: left;
}

.use-case-modal p {
    margin-bottom: 40px;
}

.use-case-modal .images {
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.use-case-modal img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.use-case-modal img:not(:first-child) {
    margin-left: 20px;
}