header {
    min-height: calc(100vh + 1px);
    display: flex;
    align-items: center;
    background-color: var(--background);
    transition: background 0.4s ease;
    position: relative;
    z-index: 10;
}

.navbar {
    position: relative;
    width: 100%;
    height: 100px;/*134px;*/
    padding: 0 20px;
    transition: height 0.2s ease;
}

.navbar.high {
    height: 184px;
}

.navbar:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(0);
    transition: background 0.4s ease, backdrop-filter 0.4s ease;
}
[data-theme="light"] .navbar:before {
    background: rgba(241, 241, 241, 1);
}
[data-theme="dark"] .navbar:before {
    background: rgba(51, 51, 51, 1);
}
[data-theme="light"] .navbar.fixed:before {
    background: rgba(241, 241, 241, 0.4);
}
[data-theme="dark"] .navbar.fixed:before {
    background: rgba(51, 51, 51, 0.4);
}

.navbar.fixed {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(30px);
}

.scroll-indicator {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    height: 55px;
}

@keyframes flash {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.scroll-indicator p {
    animation-duration: 2s;
    animation-name: flash;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}