.menu-container {
    position: absolute;
    left: 50%;
    transition: left 1.5s ease;
    top: 20px;
    bottom: 20px;
}

.fixed .menu-container {
    left: calc(100% - 80px);
}

.fixed .menu-container.open {
    left: calc(100% - 300px);
}

.hamburger-menu {
    margin-left: 26px;
    transition: margin 0.4s;
}

.menu {
    display: flex;
    margin-bottom: 8px;
}

.loading-lines span {
    position: absolute;
    z-index: 1;
    display: block;
    height: 4px;
    opacity: 1;
}

.loading .loading-lines span {
    left: -28px;
    opacity: 0;
}

.loading-lines .blue {
    width: 24px;
    background-color: var(--blue);
    top: 31px;
    left: 26px;
    transition: left 0.5s linear 2.25s, opacity 0s linear 1.5s;
}
.loading-lines .cyan {
    width: 20px;
    background-color: var(--cyan);
    top: 41px;
    left: 30px;
    transition: left 0.5s linear 2.5s, opacity 0s linear 1.5s;
}
.loading-lines .red {
    width: 16px;
    background-color: var(--red);
    top: 51px;
    left: 34px;
    transition: left 0.5s linear 2.75s, opacity 0s linear 1.5s;
}

.menu-item-lines {
    margin-top: 12px;
}

.menu-items {
    list-style: none;
    margin: 0;
    padding-left: 4px;
    text-align: left;
}

.menu-items li {
    width: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.4s;
}
.menu-items li:first-child {
    transition-delay: 0.4s;
}
.menu-items li:nth-child(2) {
    transition-delay: 0.6s;
}
.menu-items li:nth-child(3) {
    transition-delay: 0.8s;
}
.menu-items li:nth-child(4) {
    transition-delay: 1s;
}

.open .menu-items li {
    width: unset;
    opacity: 1;
}

.menu-items a {
    color: var(--text-primary);
    transition: color 0.4s;
    text-decoration: none;
    line-height: 28px;
    font-weight: 700;
}

.skills:hover {color: var(--blue);}
.experience:hover {color: var(--cyan);}
.services:hover {color: var(--yellow);}
.contact:hover {color: var(--red);}

.theme-switch-btn {
    all: unset;
    padding-left: 26px;
    cursor: pointer;
    padding: 0;
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.4s ease 1.2s;
    background-color: var(--text-primary);
    border-radius: 14px;
    position: relative;
}

.open .theme-switch-btn {
    height: 16px;
    width: unset;
    padding: 4px;
    overflow: unset;
    opacity: 1;
}

.theme-switch-btn:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    height: 20px;
    width: 20px;
    border-radius: 12px;
    transition: left 0.4s ease;
    background-color: var(--background);
}

.theme-switch-btn svg {
    position: relative;
    z-index: 2;
    transition: transform 0.8s ease-out;
    transform: rotate(-45deg);
}

.theme-switch-btn svg:first-child {
    margin-right: 6px;
}

[data-theme='dark'] .theme-switch-btn:before {
    left: 22px;
}

[data-theme='dark'] .theme-switch-btn svg:first-child {
    transform: rotate(0deg);
}

[data-theme='light'] .theme-switch-btn svg:nth-child(2) {
    transform: rotate(0deg);
}

@media screen and (max-width: 580px) {
    .hamburger-menu {
        margin-left: 23px;
    }
}