.section-title {
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-title h2 {
    display: inline;
    position: relative;
    font-weight: 700;
    transition: all 1.8s ease;
    margin: 0;
}

.section-title h2:before {
    content: "";
    display: block;
    position: absolute;
    height: 4px;
    width: 60vw;
    top: 50%;
    transform: translateY(-50%);
    transition: all 1.8s ease;
    transition-delay: 0.8s;
}

.section-title h2:after {
    content: "";
    display: block;
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 4px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 1.8s ease;
    transition-delay: 0.8s;
}

.section-title.blue h2:before,
.section-title.blue h2:after {
    background-color: var(--blue);
}

.section-title.cyan h2:before,
.section-title.cyan h2:after {
    background-color: var(--cyan);
}

.section-title.yellow h2:before,
.section-title.yellow h2:after {
    background-color: var(--yellow);
}

.section-title.red h2:before,
.section-title.red h2:after {
    background-color: var(--red);
}

.init-left h2 {
    left: -30vw;
}

.init-left h2:before {
    right: calc(100% + 10px);
}

.init-left h2:after {
    right: calc(100% + 5px);
}

.init-left.unseen h2 {
    left: -100vw;
}

.init-left.unseen h2:before {
    right: calc(100% + 20px);
}

.init-left.unseen h2:after {
    right: calc(100% + 15px);
}

.init-right h2 {
    right: -30vw;
}

.init-right h2:before {
    left: calc(100% + 10px);
}

.init-right h2:after {
    left: calc(100% + 5px);
}

.init-right.unseen h2 {
    right: -100vw;
}

.init-right.unseen h2:before {
    left: calc(100% + 20px);
}

.init-right.unseen h2:after {
    left: calc(100% + 15px);
}