.skills-dev, .skills-des {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    position: relative;
}

.skills-dev p:last-child, .skills-des p:last-child {
    margin: 0;
}

.skills-dev {
    text-align: left;
    justify-content: flex-end;
}

.skills-des {
    text-align: right;
    justify-content: flex-start;
}

.skills-dev:before {
    /*content: "{";*/
    font-weight: 100;
    font-size: 300px;
    position: absolute;
    top: 50%;
    right: 70px;
    transform: translateY(-50%);
    opacity: 0.15;
}

.skills-des:after {
    /*content: "]";*/
    font-weight: 100;
    font-size: 300px;
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
    opacity: 0.15;
}