.use-case-wrapper {
    padding: 40px;
}

.use-case-dev, .use-case-des {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 210px;
    width: 210px;/*
    background: radial-gradient(rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.03));
    background: radial-gradient(rgba(51, 51, 51, 0.2), rgba(51, 51, 51, 0.3));*/
}

.use-case-btn, .use-case-btn {
    background-color: transparent;
    border: none;
    color: var(--text-primary);
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    cursor: pointer;
    
}

.use-case-btn:hover > div:before, .use-case-btn:hover > div:after {
    color: var(--cyan);
    font-size: 310px;
}

.use-case-dev:before, .use-case-dev.use-case-des:before{
    content: "{";
}

.use-case-des:before {
    content: "[";
}

.use-case-dev:after {
    content: "}";
}

.use-case-des:after, .use-case-des.use-case-dev:after {
    content: "]";
}

.use-case-dev:before, 
.use-case-des:before, 
.use-case-dev:after, 
.use-case-des:after {
    font-weight: 100;
    font-size: 300px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-primary);
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    transition: all 0.4s ease;
    opacity: 0.15;
}

.use-case-dev:before, .use-case-des:before {
    left: -40px;
}

.use-case-dev:after, .use-case-des:after {
    right: -40px;
}

.use-case-tags {
    display: grid;
    grid-template-areas: "dev space des";
}

.des-tag, .dev-tag {
    background-color: var(--background);
    color: var(--cyan);
    padding: 5px 0;
    margin: 5px;
    border-radius: 4px;
    text-align: center;
    font-size: .8rem;
    font-weight: 700;
}

.des-tag {
    grid-area: des;
}

.dev-tag {
    grid-area: dev;
}

.use-case-info {
    flex-grow: 1;
}

.use-case-icon {
    padding: 8px;
    transition: all 0.4s ease;
}

.use-case-icon path {
    fill: var(--text-primary);
}

.enlarge-icon {
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: all 0.4s ease;
    transform: translateY(0);
}

.use-case-btn:hover .enlarge-icon {
    transform: translateY(5px);
}

.use-case-btn:hover .use-case-icon {
    transform: scale(105%) translateY(-3px);
}

.enlarge-icon path, .use-case-icon path {
    transition: all 0.4s ease;
}

.use-case-btn:hover .enlarge-icon path {
    fill: var(--cyan);
}