.video-section {
    width: 100%;
    position: relative;
    scroll-margin-top: 120px;
    overflow: hidden;
}

.video-section .video-wrapper {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: calc(100% + 1px);
    width: 100%;
    overflow: hidden;
}

.video-section .video-wrapper:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(60px);
    background: var(--background-gradient);
}

[data-theme="light"] .video-section .video-wrapper:after {
    backdrop-filter: blur(80px);
}

.video-section video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

[data-theme="light"] .video-section.blue {
    background-color: var(--blue-light);
}
[data-theme="dark"] .video-section.blue {
    background-color: var(--blue-dark);
}
[data-theme="light"] .video-section.cyan {
    background-color: var(--cyan-light);
}
[data-theme="dark"] .video-section.cyan {
    background-color: var(--cyan-dark);
}
[data-theme="light"] .video-section.yellow {
    background-color: var(--yellow-light);
}
[data-theme="dark"] .video-section.yellow {
    background-color: var(--yellow-dark);
}
[data-theme="light"] .video-section.red {
    background-color: var(--red-light);
}
[data-theme="dark"] .video-section.red {
    background-color: var(--red-dark);
}