.App {
  text-align: center;
  background-color: var(--background);
  color: var(--text-primary);
  transition: background-color .4s ease, color .4s ease;
  box-sizing: border-box;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: var(--background);
}